<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Welcome to Recipe Ripper!</h1>
    <p class="lead">Easily extract and save recipes from any website.</p>
    <hr class="my-4">
    <p>Sign up now to start ripping recipes and building your digital cookbook.</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Learn More', '#features', class: 'btn btn-secondary btn-lg' %>
  </div>

  <div id="features" class="row mt-5">
    <div class="col-md-4">
      <h3>Extract Recipes</h3>
      <p>Just paste a URL and let Recipe Ripper do the rest.</p>
    </div>
    <div class="col-md-4">
      <h3>Save Favorites</h3>
      <p>Build your personal recipe collection.</p>
    </div>
    <div class="col-md-4">
      <h3>Easy Access</h3>
      <p>Access your recipes from anywhere, anytime.</p>
    </div>
  </div>
</div>
