<h1>Recipe Extractor</h1>
<%= form_tag('/extract', method: :post) do %>
  <%= url_field_tag :url, nil, placeholder: 'Enter recipe URL', required: true %>
  <%= submit_tag 'Extract Recipe' %>
<% end %>
